@tailwind base;
@tailwind components;
@tailwind utilities;
/*
body {
  background-color: rgb(36, 36, 41);
} */

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #4a148c;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.cl-internal-1j7ahlv {
  height: 40px;
  width: 40px;
}

.emailWelcome {
  background: linear-gradient(to right, #4a148c, #ff6d00);
  background: -webkit-linear-gradient(to right, #4a148c, #ff6d00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timer {
  margin: 20px auto;
}

.ctnQuestion {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
